@layer theme, base, components, utilities;

@import 'tailwindcss/theme.css' layer(theme);
@import 'tailwindcss/utilities.css' layer(utilities);

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  /* Fonts */
  --font-segoe-ui: 'Segoe UI', Arial, sans-serif;
  --font-monospace: monospace;

  /* Colors */
  --color-body: #fafafa;
  --color-border: #cccccc;
  --color-button-primary: #097bed;
  --color-button-primary-hover: #0265d2;
  --color-button-secondary: #f2f2f2;
  --color-button-secondary-hover: #e6e6e6;
  --color-button-text-secondary: #6b6b6b;
  --color-button-text-secondary-hover: #212121;
  --color-button-danger: #eb2013;
  --color-button-danger-hover: #b02016;
  --color-method-delete: #8e1a10;
  --color-method-get: #148941;
  --color-method-head: #279250;
  --color-method-options: #b0307a;
  --color-method-patch: #623497;
  --color-method-post: #b08010;
  --color-method-put: #0053b8;
  --color-method-query: #0f766e;
  --color-select-hover: #deebff;
  --color-text: black;
  --color-text-secondary: #99a1b3;

  --color-dark-body: #23272f;
  --color-dark-button-secondary: #99a1b3;
  --color-dark-button-secondary-hover: #858d99;
  --color-dark-input: #343a46;
  --color-dark-border: #343a46;
  --color-dark-method-delete: #ef968a;
  --color-dark-method-get: #6bdc99;
  --color-dark-method-head: #68d696;
  --color-dark-method-options: #e55aa8;
  --color-dark-method-patch: #ae99cc;
  --color-dark-method-post: #fae07c;
  --color-dark-method-put: #6899d6;
  --color-dark-method-query: #5eead4;
  --color-dark-text: white;
}

@layer base {
  html {
    @apply scrollbar-gutter-stable;
  }

  body {
    @apply m-0 font-segoe-ui bg-body dark:bg-dark-body text-text dark:text-dark-text;
  }

  h5 {
    @apply text-sm;
  }
}

@layer components {
  .json-plus-button {
    @apply inline-flex items-center justify-center align-middle h-4 w-4 mt-0.5 ml-1 p-0 text-xs leading-1 border-transparent bg-transparent text-text opacity-0 pointer-events-none cursor-pointer;
  }

  .json-plus-button.line-hovered {
    @apply opacity-60 pointer-events-auto;
  }

  .json-plus-button.line-hovered:hover {
    @apply opacity-100 bg-button-primary-hover text-white;
  }

  .dark .json-plus-button {
    @apply text-dark-text;
  }

  .Toastify__toast {
    @apply gap-2! min-h-12! font-segoe-ui! text-sm rounded-none!;
  }

  .Toastify__toast-icon {
    @apply h-4! w-4! m-0! shrink-0!;
  }

  .Toastify__close-button {
    @apply static! shrink-0!;
  }

  .Toastify__progress-bar--wrp {
    @apply rounded-none!;
  }
}
